body {
    color: rgba(220, 230, 255, .8);
    background-color: black;
    font-family: Dejavu Sans, sans-serif;
}

h2 {
}

a {
    text-decoration: none;
}

// bower:scss
// endbower
.drophere {
    border-color: #DDD;
    border-style: dashed;
    border-width: .2em;
    padding: 2em;
}

canvas {
    /* border: solid red 1px; */
}

img {
    border: solid green 1px;
}